.menu-items{
    margin-left: 25vmin;
}

#articles-section{
    padding: 3vmin;
}

 .social-media-icons{
    /* display: table; */
    /* align-content: center;
    
   justify-items: center;
   justify-content: center; */
}  

 .social-media-icons a>img{
    /* padding-top: 8px; */
    height: 37px;
} 

#articles-section{
    margin-top: 5vmin;
}

#form-sction{ 
   
    margin-top: 5vmin;
    border-radius: 10px;
}


#user-control a{
    margin: 3vmin;
   
}

#user-control{
    display: inline;
}

#content{
    padding: 3vmin;
}


.my-carousel-slider a img{
    height: 70vmin;
}


.my-article a{
   
    
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .modal{   
    max-height:100%;
    overflow:hidden;
   }
   
   input[type="submit"]{
     width: 100%;
     margin-top: 50px;
   }
   .modal-close{
     position: absolute;
     top:10px;
     right:10px;
     padding:0;
     margin:0;
   }

   .modal{max-height:90% !important;} 
